/* .conatiner {
  display: flex;
  height: 100%;
}
.frame {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #e5e5e5;
}

.main_frame {
  position: relative;
  width: 1440px;
  height: 1312px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
}

.main_frame .left_frame {
  position: relative;
  width: 305px;
  height: 1315px;
  display: flex;
  flex-direction: column;
  background: white;
}

.main_frame .midd_frame {
  position: relative;
  width: 970px;
  height: 1259px;
  margin-left: 30px;
  margin-right: 27px;
  display: flex;
  flex-direction: column;
}

.main_frame .right_frame {
  position: relative;
  width: 108px;
  height: 1315;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.main_frame .left_1 {
  position: relative;
  width: 228px;
  height: 267px;
  margin-top: 50px;
  margin-left: 37px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_frame .left_1 .left1_1 {
  position: relative;
  width: 156px;
  height: 142px;
  display: flex;
  flex-direction: column;
  margin-bottom: 29px;
}
.main_frame .left_1 .left1_1 .icon-1 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -10px;
  width: 200px;
}

.main_frame .marginer {
  position: relative;
  width: 220px;
  height: 0px;
  margin-left: 40px;
  margin-bottom: 25px;
  margin-top: 30px;
  border: 1.5px solid #f0f0f6;
}

.main_frame .left_2 {
  position: relative;
  width: 221px;
  height: 126px;
  margin-left: 44px;
}

.info {
  width: 100%;
  max-width: 300px;
  font-family: sans-serif;
}

.left_row {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 5px; */
/* }

.label {
  display: flex;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  /* font-size: 18px; */
/* background-color: orange;
  border-radius: 3px;
}

.value {
  position: relative;
  color: black;
}

.value_avilable {
  display: flex;
  color: rgb(55, 178, 55);
  /* font-weight: bold; */
/* }

.main_frame .left_3 {
  position: relative;
  width: 220px;
  height: 153px;
  margin-top: 25px;
  margin-left: 45px;
}

.language-section {
  max-width: 400px;
  margin: auto;
}

.language-section h2 {
  margin-bottom: 20px;
  color: #333;
}

.language {
  margin-bottom: 25px;
}

.language .name,
.language .percent {
  display: inline-block;
  font-size: 16px;
  color: #666;
}

.language .name {
  float: left;
}

.language .percent {
  float: right;
}

.language .bar {
  clear: both;
  height: 6px;
  margin-top: 6px;
  border: 1px solid #f7b500;
  border-radius: 10px;
  position: relative;
}

.language .fill {
  margin-top: 1px;
  height: 2px;
  background-color: #f7b500;
  border-radius: 10px;
} */

.frame {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #e5e5e5;
}
.main_frame {
  position: relative;
  width: 1440px;
  height: 1312px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
  background: rgb(173, 198, 134);
}

.left_frame {
  position: relative;
  width: 305px;
  height: 1315px;
  background: white;
}

.left_1 {
  position: relative;
  width: 228px;
  height: 267px;
  margin-top: 50px;
  margin-left: 37px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top_img_circle {
  position: relative;
  width: 156.16px;
  height: 135.05px;
  display: flex;
  flex-direction: column;
  margin-bottom: 29.96px;
}

.top_frame_name {
  position: relative;
  width: 64px;
  height: 20.85px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-top: 27px; */
  margin-bottom: 6.65px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-transform: capitalize;
}

.top_frame_work {
  position: relative;
  width: 147.84px;
  height: 24.31px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 6px; */
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  color: #767676;
}

.link_href {
  text-decoration: none;
  color: black;
}

.top_frame_iconbox {
  position: relative;
  display: flex;
  width: 238px;
  margin-top: 19px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.top_frame_iconbox_circle {
  position: relative;
  display: flex;
  width: 24.99px;
  height: 21.61px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  background: #ffb400;
}

.left_2 {
  position: relative;
  width: 221px;
  height: 126px;
  margin-left: 44px;
}

.about_frame {
  position: relative;
  display: flex;
  flex-direction: column;

  /* margin-top: 15px; */
}
.about_frame_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about_text {
  font-size: 100%;
  background-color: #ffb400;
}
.about_text_right_green {
  color: #7eb942;
}

.left_3 {
  position: relative;
  width: 221px;
  height: 153px;
  margin-top: 25px;
  margin-left: 44px;
}

.language-section {
  max-width: 400px;
  margin: auto;
}

.language-section h5 {
  margin-bottom: 10px;
  color: #333;
}

.language {
  margin-bottom: 14px;
}

.language .name,
.language .percent {
  display: flex;
  font-size: 16px;
  color: #666;
}

.language .name {
  float: left;
}

.language .percent {
  float: right;
}

.language .bar {
  clear: both;
  height: 6px;
  margin-top: 6px;
  border: 1px solid #f7b500;
  border-radius: 10px;
  position: relative;
}

.language .fill {
  margin-top: 1px;
  height: 2px;
  background-color: #f7b500;
  border-radius: 10px;
}

.left_4 {
  position: relative;
  width: 221px;
  height: 252px;
  margin-top: 25px;
  margin-left: 44px;
}

.left_5 {
  position: relative;
  width: 186px;
  height: 148px;
  margin-top: 25px;
  margin-left: 44px;
}

.extra_section {
  max-width: 400px;
  margin: auto;
}

.extra_icon_box {
  position: relative;
  display: flex;
  width: 15px;
  height: 15px;
  /* margin-top: 19px; */
  align-items: center;
  flex-direction: column;
}

.extra_box {
  position: relative;
  width: 156px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  /* margin-bottom: 5px; */
}

.skill {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  margin-bottom: 25px;
  font-size: 15px;
  font-weight: 400;
  /* line-height: 24px; */
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  color: #767676;
}

.marginer {
  position: relative;
  width: 220px;
  height: 0px;
  margin-left: 40px;
  margin-bottom: 25px;
  margin-top: 39px;
  border: 1.5px solid #f0f0f6;
  /* margin-bottom: 50px; */
}

.midd_frame {
  position: relative;
  width: 970px;
  height: 1312px;
  margin-left: 30px;
  margin-right: 27px;
  display: flex;
  flex-direction: column;
  background: aqua;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.header_left {
  position: relative;
  width: 970px;
  height: 467.97px;
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  align-items: center; */
  background: white;
}

.header_content {
  margin-top: 102px;
  display: flex;
  flex-direction: column;
}

.header_content span {
  width: 499px;
  height: 120.25px;
  margin-left: 56px;
  margin-bottom: 17px;
  /* margin-bottom: 245px; */
  font-family: sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 123.6%;
  letter-spacing: 0%;
  text-align: left;
}

.header_content p {
  width: 424px;
  height: 88.18px;
  margin-left: 56px;
  /* justify-content: center; */
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  color: #767676;
}
.header_content button {
  width: 154px;
  height: 51px;
  display: flex;
  margin-left: 56px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  border: none;
  border-radius: 5px;
  background: #ffb400;
  padding: 16px 32px 16px 32px;
}

.image_box {
  position: relative;
  display: flex;
  width: 320px;
  height: 448px;
  /* justify-content: flex-end; */
  margin-top: 20px;
}

.image_box img {
  max-width: 400px;
  height: auto;
  border-radius: 8px;
}

.right_frame {
  position: relative;
  width: 108px;
  height: 1312px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: white;
}

.marginer {
  position: relative;
  width: 220px;
  height: 0px;
  margin-left: 40px;
  margin-bottom: 25px;
  margin-top: 39px;
  border: 1.5px solid #f0f0f6;
}
